
<div class="koin-mensagem alert-message alert-message-warning">
    <div class="msg-warning">
        <p><img src="https://www.koin.com.br/resources/images/logo-header.png"></p>
        <div id="aguarde">
            <h3>POR FAVOR AGUARDE, ANALISANDO DADOS</h3>
            <div class="content">
                <div class="spinner">
                    <div class="bounce1"></div>
                    <div class="bounce2"></div>
                    <div class="bounce3"></div>
                </div>
            </div>
        </div>
        <div id="jaProcessado" style="display: none;">
            <h3>PEDIDO JÁ PROCESSADO</h3>
            <div class="content">
                <p class="lead">Esse pedido já foi processado: <span class="situacao-pedido" style="font-weight: bold;"></span></p>
            </div>
        </div>
    </div>
    <div class="msg-success">
        <p><img src="https://www.koin.com.br/resources/images/logo-header.png"></p>
        <div class="content">
            <div id="successMessage" >
                <h3>SEU PEDIDO FOI RECEBIDO COM SUCESSO!</h3>
                <p class="lead">
                    Você receberá um e-mail de confirmação com detalhes do pedido e informações sobre o pagamento com Koin Pós-Pago.
                </p>
            </div>
            <div id="jaPago" style="display: none;">
                <h3>PEDIDO PAGO</h3>
                <p class="lead">
                    Seu pagamento já foi efetuado com sucesso!
                </p>
            </div>
        </div>
    </div>
    <div class="msg-danger">
        <p><img src="https://www.koin.com.br/resources/images/logo-header.png"></p>
        <div class="content">
            <h3>SEU COMPRA NÃO FOI APROVADA</h3>
            <p class="lead">
                Infelizmente sua compra não foi aprovada.
            </p>
            <p class="lead">
                <a class="href-koin" href="http://www.koin.com.br/home/atendimento" target="_blank">Entre em contato com a Koin</a> para mais informações.
            </p>
            <p>
                <code id="errorMessage">500: NAO FOI POSSIVEL PROCESSAR POR FALTA DE CRÉDITO</code>
            </p>
        </div>
    </div>
</div>
